#window {
    background-color: #141a2d;
    padding: 10;
}

* {
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 1;
}

element.selected {
    background-color: #da47b6;
}

prompt {
    enabled: false;
}
