#window {
    background-color: #282828;
    padding: 4;
}

* {
    background-color: rgba(0,0,0,0);
    color: #ebdbb2;
    padding: 1;
}

element.selected {
    background-color: #b16286;
}

prompt {
    enabled: false;
}
