! special
*.foreground:   #e9e9e9
*.background:   #1c1c1c
*.cursorColor:  #e9e9e9

! black
*.color0:       #000000
*.color8:       #f1ebe6

! red
*.color1:       #f88f16
*.color9:       #f88f16

! green
*.color2:       #d759e8
*.color10:      #d759e8

! yellow
*.color3:       #44aad4
*.color11:      #44aad4

! blue
*.color4:       #a475e8
*.color12:      #a475e8

! magenta
*.color5:       #49d74a
*.color13:      #49d74a

! cyan
*.color6:       #2ed2bb
*.color14:      #2ed2bb

! white
*.color7:       #bababa
*.color15:      #ffffff


! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:Jetbrains Mono:size=11:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

urxvt*transparent: true
urxvt*shading: 35