! https://github.com/CaydendW/Purps-Colorscheme
*background: rgb:1f/13/2a
*foreground: rgb:c3/c1/c4
*color0: rgb:56/4d/5d
*color8: rgb:71/6a/77
*color1: rgb:f5/30/54
*color9: rgb:f0/53/70
*color2: rgb:b0/34/54
*color10: rgb:b9/56/70
*color3: rgb:b5/8d/db
*color11: rgb:bd/9d/dc
*color4: rgb:3f/37/b3
*color12: rgb:5f/58/bc
*color5: rgb:9c/7a/de
*color13: rgb:a9/8e/de
*color6: rgb:31/26/84
*color14: rgb:54/4b/96
*color7: rgb:c3/c1/c4
*color15: rgb:de/de/de

! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font:  xft:inconsolata:size=11:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1