! FarSide Baskerville
*.foreground:   #919191
*.background:   #000000
*.cursorColor:  #919191
*.color0:       #303030
*.color8:       #5e5e5e
*.color1:       #a43261
*.color9:       #ff9fc9
*.color2:       #006ca5
*.color10:      #3bd6ff
*.color3:       #007086
*.color11:      #00ddf4
*.color4:       #6751a6
*.color12:      #d5b8ff
*.color5:       #913e88
*.color13:      #ffa7f6
*.color6:       #0061b1
*.color14:      #93c9ff
*.color7:       #c6c6c6
*.color15:      #ffffff

! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:Jetbrains Mono:size=11:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

urxvt*background: rgba:0000/0000/0000/cc00